{% extends "base1.html" %}

{% block heading %}
  <h1 style="text-align: center;">Search By Title</h1>    
{% endblock %}

{% block body %}
    <br>
    <div class="container">        
        <form class="form-signin form-signin-inline", method="POST", action="{{ url_for('title')}}">
            <div class="form-group">
                <div class="col-md-12 center-block">
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter Book Title">
                </div>
            </div>
        </form> 
    </div>
    <br>
    <div class="container my-3">
        <div class="col-md-12 text-center">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </div> 
    </div>

    <div class="col-12">
        <h2>Results for "{{ search }}"</h2>
        <table id="example" class="table table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Review</th>
                    <th>Submit Review</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.year }}</td>
                <td>
                    <form>
                        <input type="radio" name="review" id="one">
                        <label for="one">1</label>
                        <input type="radio" name="review" id="two">
                        <label for="two">2</label>
                        <input type="radio" name="review" id="three">
                        <label for="three">3</label>
                        <input type="radio" name="review" id="four">
                        <label for="four">4</label>
                        <input type="radio" name="review" id="five">
                        <label for="five">5</label>
                    </form>
                </td>
                <td>
                    <form id="user-form">
                        <input type = "submit"> 
                    </form>
                </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}